@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

video {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}

.copied {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding: 14px 25px;
  border-radius: 30px;
  background: #2d3440;
  color: #FFFFFF;
  z-index: 999;
  opacity: 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/*  Page wrapper styling. */
#wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(315deg, rgba(19, 15, 64, 0.9) 0%, rgba(0, 0, 0, 0.9) 74%);
}

/* Announcements styling. */
#announcements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(25, 29, 36, 0.8);
  z-index: 2;
  text-align: center;
}
#announcements p {
  line-height: 30px;
  color: #fff;
}
#announcements p i {
  font-size: 0.8em;
  color: #FFDC00;
}

/* Page logo styling */
.header {
  width: 100%;
}
.header img {
  max-width: 300px;
  height: auto;
  -webkit-animation: pulse 5s infinite;
  -moz-animation: pulse 5s infinite;
  -o-animation: pulse 5s infinite;
  -ms-animation: pulse 5s infinite;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* Api display styling. */
.info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}
.info div {
  width: 230px;
  min-width: 200px;
  height: 35px;
  text-align: center;
}
.info div h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1em;
}
.info div span {
  color: #FFDC00;
}
.info div p {
  font-size: 0.7em;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 100;
}
.info button {
  position: relative;
  outline: none;
  cursor: pointer;
  border: none;
  color: #f2f2f2;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 3px;
  z-index: 1;
  width: 80%;
  font-size: 0.8em;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.info button::before, .info button::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.4s, opacity 0.6s;
  -moz-transition: 0.4s, opacity 0.6s;
  -o-transition: 0.4s, opacity 0.6s;
  transition: 0.4s, opacity 0.6s;
}
.info button::before {
  content: attr(data-hover);
  -webkit-transform: translate(-150%, 0);
  -moz-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  -o-transform: translate(-150%, 0);
  transform: translate(-150%, 0);
}
.info button::after {
  content: attr(data-active);
  -webkit-transform: translate(150%, 0);
  -moz-transform: translate(150%, 0);
  -ms-transform: translate(150%, 0);
  -o-transform: translate(150%, 0);
  transform: translate(150%, 0);
}
.info button:hover span, .info button:active span {
  opacity: 0;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
}
.info button:hover:before, .info button:active:after {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.info button:active:before {
  -webkit-transform: translate(-150%, 0);
  -moz-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  -o-transform: translate(-150%, 0);
  transform: translate(-150%, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.info button span {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  color: #fff;
}

.menu {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu a {
  width: 80px;
  margin: 0 20px;
  color: #FFFFFF;
  text-decoration: none;
}
.menu a i {
  font-size: 2.5em;
}
.menu a p {
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
}

/* 		FOOTER SECTION STYLING.			*/
.footer {
  position: relative;
  top: 50px;
  width: 100%;
}
.footer nav {
  margin: 0 auto;
  width: 300px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  margin: 0 5px;
  color: #FFFFFF;
}
.footer a:hover {
  color: #FFDC00;
}

/*# sourceMappingURL=main.css.map */
